@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Roboto&display=swap");

body {
  font-family: "Neucha", cursive;
  font-family: "Roboto", sans-serif;
  background-image: url("./images/neliosbg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
